## Load dependecies

In [171]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [119]:
# Read the dataset
df = pd.read_csv("train_data.csv")

In [120]:
df

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.000000,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.000000,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.000000,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.000000,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.000000,0,V,N,O,R,680.0,1,1800.0,3,1053,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7155,H5290,2012,1.000000,1,V,V,V,U,NaN,1,2001.0,.,NaN,0
7156,H5926,2013,1.000000,0,V,V,V,U,NaN,2,1980.0,.,NaN,1
7157,H6204,2016,0.038251,0,V,V,V,U,NaN,1,1992.0,.,NaN,0
7158,H6537,2013,1.000000,0,V,V,V,U,NaN,1,1972.0,.,NaN,0
7159,H7470,2014,1.000000,0,V,V,V,U,NaN,1,2004.0,.,NaN,0

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         7160 non-null   object
 1   YearOfObservation   7160 non-null   int64
 2   Insured_Period      7160 non-null   float64
 3   Residential         7160 non-null   int64
 4   Building_Painted    7160 non-null   object
 5   Building_Fenced     7160 non-null   object
 6   Garden              7153 non-null   object
 7   Settlement          7160 non-null   object
 8   Building Dimension  7054 non-null   float64
 9   Building_Type       7160 non-null   int64
 10  Date_of_Occupancy   6652 non-null   float64
 11  NumberOfWindows     7160 non-null   object
 12  Geo_Code            7058 non-null   object
 13  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 783.3+ KB

In [122]:
df.isna().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  7
Settlement              0
Building Dimension    106
Building_Type           0
Date_of_Occupancy     508
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64

In [123]:
df.Garden.value_counts()

Garden
O    3602
V    3551
Name: count, dtype: int64

In [124]:
df.Garden = df.Garden.fillna(value='O')

In [125]:
np.average(df["Building Dimension"])

nan

In [126]:
b_sum = np.sum(df["Building Dimension"])

In [127]:
b_average = b_sum/7054

In [128]:
b_average

1883.7275304791608

In [129]:
df["Building Dimension"] = df["Building Dimension"].fillna(value= b_average)

In [130]:
np.average(df["Date_of_Occupancy"])

nan

In [131]:
d_sum =np.sum(df["Date_of_Occupancy"])

In [132]:
d_average = d_sum/6652

In [133]:
d_average

1964.456404088996

In [134]:
df["Date_of_Occupancy"] = df["Date_of_Occupancy"].fillna(value= d_average)

In [135]:
df.Geo_Code.value_counts()

Geo_Code
6088     143
33063    137
6083     113
13206     98
31555     87
        ...
59650      1
59656      1
60057      1
60172      1
2B353      1
Name: count, Length: 1307, dtype: int64

In [136]:
df.Geo_Code  =df.Geo_Code.fillna(value='6088')

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         7160 non-null   object
 1   YearOfObservation   7160 non-null   int64
 2   Insured_Period      7160 non-null   float64
 3   Residential         7160 non-null   int64
 4   Building_Painted    7160 non-null   object
 5   Building_Fenced     7160 non-null   object
 6   Garden              7160 non-null   object
 7   Settlement          7160 non-null   object
 8   Building Dimension  7160 non-null   float64
 9   Building_Type       7160 non-null   int64
 10  Date_of_Occupancy   7160 non-null   float64
 11  NumberOfWindows     7160 non-null   object
 12  Geo_Code            7160 non-null   object
 13  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 783.3+ KB

In [138]:
label = LabelEncoder()

In [139]:
df["Customer Id"] = label.fit_transform(df["Customer Id"])
df["Building_Painted"] = label.fit_transform(df["Building_Painted"])
df["Building_Fenced"] = label.fit_transform(df["Building_Fenced"])
df["Garden"] = label.fit_transform(df["Garden"])
df["Settlement"] = label.fit_transform(df["Settlement"])
df["NumberOfWindows"] = label.fit_transform(df["NumberOfWindows"])
df["Geo_Code"] = label.fit_transform(df["Geo_Code"])

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         7160 non-null   int64
 1   YearOfObservation   7160 non-null   int64
 2   Insured_Period      7160 non-null   float64
 3   Residential         7160 non-null   int64
 4   Building_Painted    7160 non-null   int64
 5   Building_Fenced     7160 non-null   int64
 6   Garden              7160 non-null   int64
 7   Settlement          7160 non-null   int64
 8   Building Dimension  7160 non-null   float64
 9   Building_Type       7160 non-null   int64
 10  Date_of_Occupancy   7160 non-null   float64
 11  NumberOfWindows     7160 non-null   int64
 12  Geo_Code            7160 non-null   int64
 13  Claim               7160 non-null   int64
dtypes: float64(3), int64(11)
memory usage: 783.3 KB

In [141]:
df.drop("Customer Id", axis = 1, inplace= True)

In [142]:
df

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,2013,1.000000,0,0,1,1,1,290.00000,1,1960.0,0,7,0
1,2015,1.000000,0,1,0,0,0,490.00000,1,1850.0,4,7,0
2,2014,1.000000,0,0,1,1,1,595.00000,1,1960.0,0,7,0
3,2013,1.000000,0,1,1,1,1,2840.00000,1,1960.0,0,7,0
4,2014,1.000000,0,1,0,0,0,680.00000,1,1800.0,3,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7155,2012,1.000000,1,1,1,1,1,1883.72753,1,2001.0,0,610,0
7156,2013,1.000000,0,1,1,1,1,1883.72753,2,1980.0,0,610,1
7157,2016,0.038251,0,1,1,1,1,1883.72753,1,1992.0,0,610,0
7158,2013,1.000000,0,1,1,1,1,1883.72753,1,1972.0,0,610,0
7159,2014,1.000000,0,1,1,1,1,1883.72753,1,2004.0,0,610,0

In [169]:
X = df.drop("Claim", axis = 1)
y = df.Claim

In [173]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=42)

In [175]:
X_train.shape

(5728, 12)

In [181]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score

In [183]:
log = LogisticRegression()

In [185]:
model = log.fit(X_train, y_train)

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [211]:
result = log.predict(X_test)

In [213]:
result

array([0, 0, 0, ..., 0, 0, 0])

In [215]:
accuracy_score(result, y_test)*100

78.14245810055866

In [219]:
pd.DataFrame(result, columns=["Claim"])

      Claim
0         0
1         0
2         0
3         0
4         0
...     ...
1427      0
1428      0
1429      0
1430      0
1431      0

[1432 rows x 1 columns]

In [226]:
import pickle
filename =  "Log Reg Building Insurance.sav"
pickle.dump(log, open(filename, 'wb'))